
*{
	padding: 0;
	margin: 0;
	overflow-y: hidden;
}


.clearfix {
  overflow: auto;
}

/* cashier */

.cashier_header{

	padding: 5px 5px 0px 5px;
	/*background-color: #0099ff;
	color: white; */
	box-shadow: 10px 10px 8px #0099ff;

}

.cashier_topic{
	font-size: 35px;
	font-family: 'Righteous', cursive;
	color: #004d80;
	margin: 15px;
	font-weight: bold;
}

div p.cashier_header_time{
	margin: 20px ; 
	font-size: 20px; 
	color : #0099ff; 
	font-family: Verdana,Geneva,'Bitstream Vera Sans','DejaVu Sans',sans-serif;
	background-image: url(../img/back.jpeg)
}

.icon-bar {
  width: 100%;
  background-color: white;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 20%;
  text-align: center;
  padding: 5px 0;
  transition: all 0.3s ease;
  color: #0099ff;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #0099ff;
  color: white;
}


/* side bar */

.side1{
	background-color: #004d80;
	margin-top: 10px;
	padding-top: 10px;
}

.sidenav {
  height: 30%; 

 
}

.sidenav a {
  padding: 6px 8px 6px 0px;
  text-decoration: none;
  font-size: 18px;
  color: white;
  display: block;
  font-weight: normal;
  box-shadow: 1px 1px 4px #000066;
 
}

.sidenav a:hover {
  color: #e6f5ff;;
  background-color: #0099ff;
  box-shadow: 5px 5px 5px grey;
}

/* main section */

section.main{
	width: 100%;
	
	padding: 10px;
	margin-top: 10px;
	background-color: #e6f5ff;
}

h3.transections{
	font-weight: normal;
	/*text-decoration: underline;*/
}

.transection_form{
	background-color: white;
	margin: 10px;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 5px 5px 5px grey;

	border-top: 5px solid #0099ff;
}

.cashier_table{
	
	border-top: 5px solid #0099ff;
	padding: 10px;
	margin: 10px;
	border-radius: 5px;
	opacity: 0.5;

}

/*footer */

.footer{
	height: 80px;
	background-color: black;
}

.f1{
	text-align: center;
	color: #0099ff;
	font-weight: bold;
	padding: 3px;
	margin-bottom: 0px;
}

.f2{
	text-align: center;
	color: white;
	font-weight: normal;
	margin-bottom: 0px;
}

.f3{
	text-align: center;
	color: white;
	font-size: 150%;
}