.bg{
    background: url(../CSS/resources/login_background.jpg) no-repeat;
    width: 100%;
    height: 100vh;
    background-size: cover;
}

.form-container{
    position: absolute;
    top: 15vh;
    background: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px 0px #000;
}
