body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: url(/resources/login_background.jpg) no-repeat;
    background-size: cover;
}

.login-box{
    width: 280px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: white;
}